<!-- <h1>Oily Skin Detection<h2>Kelompok 2</h2></h1>
<form action="/predict" method="POST" enctype="multipart/form-data">
    <input type="file" name="file">
    <p>Put your files here</p>
<tr><td><input type="submit" value="kirim"/></td><td></td></tr>
</table>
  </form> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oily Skin Detection</title>
    <link rel="stylesheet" type="text/css" href="../styles/main/index.css" />
    <script src="../styles/main/index.js"></script>
  </head>
  <body>
    <form action="/predict" method="POST" enctype="multipart/form-data">
      <input type="file" multiple />
      <p>Drag your files here or click in this area.</p>
      <button type="submit">Upload</button>
    </form>
  </body>
</html>
